/*base*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    font-size:20px; /*taille de police*/
    background: #b86fda; /*fond violet*/
    color:rgb(253, 253, 253); /*police en blanc*/
    line-height:2; /*espace entre les lignes*/
}

/*header*/

header {
    text-align:center; /*centre le texte sur la page*/
    padding:20px; /*zone de remplissage sur les 4 côtés*/
    background: #6c9fec; /*fond du header en bleu*/
    color:white;
}

/*layout principal*/

.container {
    max-width: 800px;
    margin:20px auto; /*espace entre le container et le header*/
    padding:20px;
}

/*formulaire*/

.todo-class {
    display:flex;
    gap:5px; /*espace entre le bloc Ajouter une tâche et le bouton Ajouter*/
    margin-bottom:15px; /*espace avec les 3 boutons filtre*/
}

#todo-input {
    flex:1;
    padding:10px;
    border-radius:5px;
    border:none;
}

#btn-add {
    padding:10px 5px;
    background:#e9904b;
    color:white;
    border:none; /*supprime la bordure présente*/
    border-radius:5px; /*ajoute des bords arrondis au bouton*/
}

/*filtre*/

.filtre {
    display:flex;
    justify-content: center; /*boutons des filtres centrés*/
    gap:10px; /*espace entre les filtres*/

}

.btn-filtre {
    padding:5px 5px;
    background:white;
    border:none;
}

.btn-filtre.active {
    background:rgb(0, 0, 0); /*le filtre sélectionné est noir*/
    color:white;
}

/*liste*/

/*cookie*/

/*responsive*/