/*base*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    font-size:16px; /*taille de police*/
    background: #b86fda; /*fond violet*/
    color:rgb(253, 253, 253); /*police en blanc*/
    line-height:1.5; /*espace entre les lignes*/
    overflow-x:hidden;
}

/*header*/

header {
    text-align:center; /*centre le texte sur la page*/
    padding:20px; /*zone de remplissage sur les 4 côtés*/
    background: #6c9fec; /*fond du header en bleu*/
    color:white;
}

/*layout principal*/

.container {
    max-width: 500px;
    margin:20px auto; /*espace entre le container et le header*/
    padding:0 20px;
    width:100%;
    display:flex;
    flex-direction:column;
    gap:25px;
}

/*formulaire*/

.todo-class {
    display:flex;
    flex-direction:column;
    gap:12px; /*espace entre le bloc Ajouter une tâche et le bouton Ajouter*/
    width:100%;
}

.todo-class label {
    text-align:left;
    font-size:16px;
}

.input-row {
    display:flex;
    gap:15px;
    width:100%;
}

#todo-input {
    flex:2;
    min-height:44px;
    padding:10px;
    border-radius:5px;
    border:none;
    color:black;
    font-size:16px;
}

#btn-add {
    flex:1;
    padding:10px 15px;
    background:#e9904b;
    color:white;
    border:none; /*supprime la bordure présente*/
    border-radius:5px; /*ajoute des bords arrondis au bouton*/
    min-height:44px;
    font-size:16px;
}

/*filtre*/

.filtre {
    display:flex;
    justify-content: center; /*boutons des filtres centrés*/
    gap:10px; /*espace entre les filtres*/

}

.btn-filtre {
    padding:5px 5px;
    background:white;
    color:black;
    border:none;
    min-height:44px;
    min-width: 44px;
    font-size:16px;
}

.btn-filtre.active {
    background:rgb(0, 0, 0); /*le filtre sélectionné est noir*/
    color:white;
}

/*liste*/

.todo-list {
    list-style:none; /*suppression de la puce à gauche de la tache*/
    display:flex;
    flex-direction:column;
    gap:15px;
}

.todo-item {
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:15px;
    width:100%;
}

.todo-item.completed span {
    text-decoration: line-through; /*tache barrée après l'avoir cochée*/
    opacity:0.5;
}

.todo-item input[type="checkbox"] {
    width:44px;
    height:44px;
}

/*bouton supprimer*/

.btn-delete {
    background:white;
    border:none; /*aucune bordure sur le bouton*/
    color:black;
    padding:5px 15px; /*taille du bouton Supprimer*/
    min-width:44px;
    min-height:44px;
    font-size:16px;
    flex-shrink: 0;
}

/*cookie*/

.cookie-banner {
    position:fixed; /*positionne les cookies en bas de page*/
    bottom:0;
    left:0;
    right:0;
    background:rgb(231, 176, 94);
    padding:15px; /*espace du bloc cookie*/
    display:flex;
    justify-content: center;
    z-index:1000;
}

.cookie-content {
    display:flex;
    gap:10px;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
}

.btn-cookie {
    padding:5px 15px;
    border:none;
    background:white;
    color:black;
    min-width:44px;
    min-height:44px;
}

.hidden {
    display:none;
}

/*responsive*/

@media screen and (min-width:601px) {
    body {
        font-size:18px;
    }

    .container {
        max-width:600px;
    }
}

@media screen and (min-width:1025px) {
    body {
        font-size:18px;
    }

    .container {
        max-width:650px;
    }
}
